[Unit]
Description=Installer on %I
BindsTo=dev-%i.device
After=dev-%i.device
Before=serial-getty@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/flasher
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=flasher.target

