[Unit]
Description=Installer on %I
After=getty@%i.service
Conflicts=getty@%i.service

[Service]
Type=simple
ExecStart=/usr/local/bin/flasher
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=flasher.target
