---
name: Create images for distribution
on:
  push:
    branches-ignore:
      - "gh-readonly-queue/**"
  pull_request:
  merge_group:
  workflow_dispatch:
jobs:
  build-flasher:
    runs-on: ubuntu-latest
    container:
      image: rust:slim-trixie
    env:
      CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc
    steps:
      - uses: actions/checkout@v6
      - run: rustup target add aarch64-unknown-linux-gnu
      - run: |
          apt update
          apt install -y gcc-aarch64-linux-gnu
      - run: cd flasher ; cargo build --release --target aarch64-unknown-linux-gnu
      - name: flasher binary
        uses: actions/upload-artifact@v6
        with:
          name: flasher
          path: flasher/target/aarch64-unknown-linux-gnu/release/flasher
  build-bootloaders:
    runs-on: ubuntu-latest
    container:
      image: debian:trixie-slim
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          path: arm-trusted-firmware
          repository: mtk-openwrt/arm-trusted-firmware
          ref: mtksoc-20250711
      - uses: actions/checkout@v6
        with:
          path: u-boot
          repository: sjoerdsimons/u-boot
          ref: mtk/openwrt-one
      - run: |
          apt update;
          apt install -y \
              build-essential \
              crossbuild-essential-arm64 \
              arm-trusted-firmware-tools \
              u-boot-tools \
              xz-utils \
              bison \
              flex \
              libssl-dev \
              libgnutls28-dev
      - run: ./scripts/build-atf.sh
      - run: ./scripts/build-u-boot.sh
      - name: Upload bootloader binaries
        uses: actions/upload-artifact@v6
        with:
          name: bootloader
          path: |
            *.bin
            *.raw
            *.fip
  build-kernel:
    runs-on: ubuntu-latest
    container:
      image: debian:trixie-slim
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          path: linux
          repository: sjoerdsimons/linux
          ref: sjoerd/mtk-openwrt-one-integration
      - run: |
          dpkg --add-architecture arm64;
          apt update;
          apt install -y devscripts \
              build-essential \
              crossbuild-essential-arm64 \
              bc \
              bison \
              ccache \
              flex \
              rsync \
              kmod \
              cpio \
              libdw-dev \
              libelf-dev \
              libssl-dev \
              libssl-dev:arm64
      - run: CONFIG=openwrt-one-kernel-config ./scripts/build-kernel.sh
      - name: Upload kernel packages
        uses: actions/upload-artifact@v6
        with:
          name: kernel
          path: "*.deb"
  build-recovery-image:
    runs-on: ubuntu-latest
    needs:
      - build-kernel
      - build-flasher
    container:
      image: ghcr.io/go-debos/debos:main
      options: --device=/dev/kvm
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: kernel
      - uses: actions/download-artifact@v7
        with:
          name: flasher
          path: download
      - run: |
          apt update
          apt install -y device-tree-compiler
      - run: |
          cp -v download/flasher recovery/overlays/flasher/usr/local/bin
          mkdir -p recovery/local-kernel
          rm linux-image*dbg*deb
          cp -v linux-image*_*.deb recovery/local-kernel
      - run: debos --fakemachine-backend=kvm --print-recipe recovery/recovery.yaml
      - name: recovery image
        uses: actions/upload-artifact@v6
        with:
          name: recovery
          path: "*.fit"
  build-nand:
    runs-on: ubuntu-latest
    container:
      image: debian:trixie-slim
    needs:
      - build-bootloaders
      - build-recovery-image
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: bootloader
      - uses: actions/download-artifact@v7
        with:
          name: recovery
      - run: |
          apt update
          apt install -y mtd-utils
      - run: |
          ubinize openwrt-nand-ubi.ini \
             -o openwrt-mediatek-filogic-openwrt_one-factory.ubi \
             -p 128KiB -m 2048
      - name: nand
        uses: actions/upload-artifact@v6
        with:
          name: nand
          path: |
            *snand*bin
            *.ubi
  build-system-image:
    runs-on: ubuntu-latest
    needs:
      - build-kernel
    container:
      image: ghcr.io/go-debos/debos:main
      options: --device=/dev/kvm
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: kernel
      - run: |
          mkdir -p system/local-kernel
          rm linux-image*dbg*deb
          cp -v linux-image*_*.deb system/local-kernel
      - run: >
          debos --fakemachine-backend=kvm
          --print-recipe
          -t image:openwrt-one-debian-$(date +%Y%m%d%H%M%S).img
          system/system.yaml
      - name: recovery image
        uses: actions/upload-artifact@v6
        with:
          name: system
          path: "*.img*"
  publish:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs:
      - build-nand
      - build-system-image
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: system
      - uses: actions/download-artifact@v7
        with:
          name: nand
      - run: find
      - run: |
          gh release delete latest --yes || true
          git push origin :latest || true
      - run: >
          gh release create latest
          --prerelease
          --generate-notes
          --notes-file .github/workflows/dist-notes.md
          --target $GITHUB_SHA *.bin *.ubi *.zst *.bmap
